@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    font-family: 'Cairo', sans-serif;
}
.form-container {
    background-color: #fff;
    padding: 40px;
    padding-top: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 400px;
    max-height: 450px;
    text-align: center;
    margin-top: 140px;

}
.form-container h1 {
    margin-top: -120px;
    margin-bottom: 20px;
    color: #122c6f;
}
.form-container input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-container button {
    background-color: #122c6f;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.form-container button:hover {
    background-color: #0e235c;
}
.message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-family: 'Cairo', sans-serif;
}
.error-message {
    color: #f13b1c;
    background-color: #ffe5e5;
}
.success-message {
    color: #28a745;
    background-color: #e8f5e9;
}
.back-link {
    display: block;
    margin-top: 20px;
    color: #122c6f;
    text-decoration: none;
}
.back-link:hover {
    text-decoration: underline;
}
.password-wrapper {
    position: relative;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}